.dialog{
    width: 100%;
}

.together{
    margin-right: 10px;
    width: 48%;
}

.input{
    width: 97%;
}

.actions{
    place-content: end;
}

.add{
    background-color: #f79a2f;
    color: #000;
    margin-left: 5px;
}

.close{
    background-color: #1a1a1a;
    color: white;
    
}