.storeCode{
    width: 99%;
    
}

.input{
    width: 46%;
    margin-right: 2%;
}

.together{
    width: 51%;
}

.email{
    width: 99%;
    margin-bottom: 5%;
}

.add{
    background-color: #f79a2f;
    color: #000;
    margin-left: 5px;
}

.close{
    background-color: #1a1a1a;
    color: white;
    
}